<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" 
	version="2.5">
  	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>JetSki</servlet-name>
		<servlet-class>com.controller.JetSkiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JetSki</servlet-name>
		<url-pattern>/JetSkiServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
    	<welcome-file>JetSkiServlet</welcome-file>
    </welcome-file-list>
    
    <jsp-config>
	    <jsp-property-group>
	        <url-pattern>*.jsp</url-pattern>
	        <scripting-invalid>false</scripting-invalid>
	    </jsp-property-group>
	    <jsp-property-group>
	        <url-pattern>*.tag</url-pattern>                
	        <scripting-invalid>false</scripting-invalid>
	    </jsp-property-group>
	</jsp-config>
	
	
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
</web-app>

